<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Conceptualizing and Measuring Algorithmic Fairness</title>
  </head>

  <body>
    <article id="cover">
      <div style="margin-left: 100px; margin-top: 30px; width: 750px">
        <h1>Conceptualizing and Measuring Algorithmic Fairness</h1>
        <br />
        <div style="font-size: 24px; color: white">
          <h2>Presented by:</h2>
          <h3 style="color: white">Mark A. Zaydman, MD, PhD</h3>
          <p>Assistant Professor of Pathology and Immunology</p>
        </div>
      </div>
    </article>

    <article id="Introduction">
      <section id="obermeyer-story"></section>
      <section id="intro-and-1"></section>
      <section id="intro-and-2"></section>
      <section id="intro-but"></section>
      <section id="intro-therefore"></section>
      <section id="intro-overview"></section>
    </article>

    <article id="Defining Fairness">
      <section id="general-fairness-definition"></section>
      <section id="fairness-through-unawareness"></section>
      <section id="individual-fairness"></section>
      <section id="group-fairness"></section>
      <section id="demographic-parity"></section>
      <section id="equalized-odd"></section>
      <section id="predictive-parity"></section>
      <section id="group-concept-exclusivity"></section>
      <section id="equity"></section>
      <section id="concept-summary"></section>
    </article>

    <article id="Obermeyer Study - Fairness ">
      <section id="obermeyer-background"></section>
      <section id="obermeyer-individual-fairness"></section>
      <section id="obermeyer-demographic-parity"></section>
      <section id="obermeyer-predictive-parity"></section>
      <section id="obermeyer-equity"></section>
    </article>

    <article id="moving forward">
      <section id="building-fairness-infrastructure"></section>
      <section id="call-to-action"></section>
    </article>

    <article id="aknowledgements"></article>
  </body>
</html>
